.mc-checkbox {
  .mc-checkbox--border {
    border: none !important;
  }
  .mc-checkbox--icon {
    font-family: 'Material Icons';
    font-size: 150%;
    color: $color-text-primary;
  }
  &.on {
    .mc-checkbox--icon:before {
      content: 'check_box';
    }
  }
  &.off {
    .mc-checkbox--icon:before {
      content: 'check_box_outline_blank';
    }
  }
  &.indeterminate {
    .mc-checkbox--icon:before {
      content: 'indeterminate_check_box';
    }
  }
}

.mc-playback-control {
  .mc-playback-control--play-pause-button {
    font-family: 'Material Icons';
    font-size: 180%;
    position: absolute;
    left: 8px;
    top: 40px;

    &:before {
      content: 'play_arrow';
    }
  }
  &.playing {
    .mc-playback-control--play-pause-button {
      &:before {
        content: 'pause';
      }
    }
  }

  .mc-playback-control--timestamp {
    font-size: 80%;
    position: absolute;
    left: 0;
    top: -34px;
    background: $background-alt;
    padding: $spacing-tiny $spacing-normal;
    opacity: 0;
    transition: opacity 300ms ease;
  }

  &:hover {
    .mc-playback-control--timestamp {
      opacity: 1
    }
  }
}

.mc-float-panel--title {
  font-size: 11px;
  background: $background-alt;
  color: $color-text-primary;

  &:hover {
    background: $color-control-active;
  }
}

.mc-tooltip {
  .mc-popover--body {
    font-size: 11px;
    padding: $spacing-tiny $spacing-normal;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  padding: $spacing-tiny;
  margin: $spacing-tiny $spacing-normal;
  color: $color-control-inactive;

  &:hover {
    color: $color-control-hover;
  }

  &.active {
    background: $background;
    color: $color-control-active;
  }

  .material-icons {
    font-size: 2em;
  }
}

.menu {
  padding: $spacing-tiny 0;

  .menu--item {
    cursor: pointer;
    padding: $spacing-tiny $spacing-normal;
    background: transparent;
    color: $color-control-inactive;
    font-size: 12px;

    &:hover {
      background: $color-control-active;
      color: $color-text-primary;
    }
  }
}