.mc-checkbox {
  .mc-checkbox--border {
    border: none !important;
  }
  .mc-checkbox--icon {
    font-family: 'Material Icons';
    font-size: 150%;
    color: $color-text-primary;
  }
  &.on {
    .mc-checkbox--icon:before {
      content: 'check_box';
    }
  }
  &.off {
    .mc-checkbox--icon:before {
      content: 'check_box_outline_blank';
    }
  }
  &.indeterminate {
    .mc-checkbox--icon:before {
      content: 'indeterminate_check_box';
    }
  }
}

.mc-float-panel--title {
  font-size: 11px;
  background: $background-alt;
  color: $color-text-primary;

  &:hover {
    background: $color-control-active;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  padding: $spacing-tiny;
  margin: $spacing-tiny $spacing-normal;
  color: $color-control-inactive;

  &:hover {
    color: $color-control-hover;
  }

  &.active {
    background: $background;
    color: $color-control-active;
  }

  .material-icons {
    font-size: 2em;
  }
}

.menu {
  padding: $spacing-tiny 0;

  .menu--item {
    cursor: pointer;
    padding: $spacing-tiny $spacing-normal;
    background: transparent;
    color: $color-control-inactive;
    font-size: 12px;

    &:hover {
      background: $color-control-active;
      color: $color-text-primary;
    }
  }
}