@import 'theme';
@import '~monochrome-ui/src/main.scss';

body {
  user-select: none;
  background: $background;
  font-family: $font-family;
  font-size: 13px;
  line-height: 24px;
}

.material-icons {
  font-size: inherit;
}

#container {
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
#timeline {
  position: fixed;
  width: 100vw;
  max-width: 600px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#toolbar {
  padding: 0 $spacing-normal;
  background: $background-alt;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-size: 24px;
}

@import 'inputs';
@import 'control-panel';
