{
  "env": {
    "es5": {
      "presets": [
        ["@babel/env", {modules: 'commonjs'}],
        ["@babel/stage-2", {decoratorsLegacy: true}],
        "@babel/react"
      ],
      "plugins": [
        "version-inline",
        "@babel/proposal-class-properties"
      ]
    },
    "esm": {
      "presets": [
        ["@babel/env", {modules: false}],
        ["@babel/stage-2", {decoratorsLegacy: true}],
        "@babel/react"
      ],
      "plugins": [
        "version-inline",
        "@babel/proposal-class-properties"
      ]
    },
    "es6": {
      "presets": [
        [ "@babel/env", {
          "targets": {
            "chrome": "60",
            "edge": "15",
            "firefox": "53",
            "ios": "10.3",
            "safari": "10.1",
            "node": "8"
          },
          "modules": false
        }],
        "@babel/react"
      ],
      "plugins": [
        "version-inline",
        "@babel/proposal-class-properties"
      ]
    },
    "test": {
      "presets": [
        ["@babel/es2015", {modules: 'commonjs'}],
        ["@babel/stage-2", {decoratorsLegacy: true}],
        "@babel/react"
      ],
      "plugins": [
        "istanbul",
        "@babel/proposal-class-properties"
      ]
    }
  }
}
