{
  "parser": "babel-eslint",
  "plugins": [
  ],
  "extends": [
    "uber-es2015"
  ],
  "rules": {
    "no-process-env": 0,
    "no-inline-comments": 0,
    "guard-for-in": 0,
    "camelcase": 0,
    "max-len": 0,
    "func-style": 0,
    "generator-star-spacing": 0,
    "no-invalid-this": 0,
    "operator-linebreak": 1
  },
  "globals": {
    "process": false,
    "global": false
  }
}
