@font-face {
  font-family: 'streetscape';
  src:  url('fonts/streetscape.eot?2nmdd3');
  src:  url('fonts/streetscape.eot?2nmdd3#iefix') format('embedded-opentype'),
    url('fonts/streetscape.ttf?2nmdd3') format('truetype'),
    url('fonts/streetscape.woff?2nmdd3') format('woff'),
    url('fonts/streetscape.svg?2nmdd3#streetscape') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'streetscape' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e906";
}
.icon-help:before {
  content: "\e910";
}
.icon-info:before {
  content: "\e911";
}
.icon-launch:before {
  content: "\e922";
}
.icon-eye_off:before {
  content: "\e900";
}
.icon-building:before {
  content: "\e921";
}
.icon-circle:before {
  content: "\e907";
}
.icon-export:before {
  content: "\e919";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-group:before {
  content: "\e909";
}
.icon-image:before {
  content: "\e90a";
}
.icon-road:before {
  content: "\e912";
}
.icon-map:before {
  content: "\e90f";
}
.icon-polygon:before {
  content: "\e90d";
}
.icon-point:before {
  content: "\e90c";
}
.icon-polyline:before {
  content: "\e90e";
}
.icon-settings:before {
  content: "\e923";
}
.icon-text:before {
  content: "\e913";
}
.icon-time_series:before {
  content: "\e917";
}
.icon-recenter:before {
  content: "\e915";
}
.icon-select:before {
  content: "\e908";
}
.icon-camera_driver .path1:before {
  content: "\e924";
}
.icon-camera_driver .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(32, 32, 32);
}
.icon-camera_driver .path3:before {
  content: "\e926";
  margin-left: -1em;
}
.icon-camera_perspective .path1:before {
  content: "\e927";
}
.icon-camera_perspective .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(32, 32, 32);
}
.icon-camera_perspective .path3:before {
  content: "\e929";
  margin-left: -1em;
}
.icon-camera_top .path1:before {
  content: "\e92a";
}
.icon-camera_top .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(32, 32, 32);
}
.icon-camera_top .path3:before {
  content: "\e92c";
  margin-left: -1em;
}
.icon-github:before {
  content: "\e920";
}
.icon-data_lidar:before {
  content: "\e901";
}
.icon-data_map:before {
  content: "\e902";
}
.icon-data_ML:before {
  content: "\e903";
}
.icon-data_radar:before {
  content: "\e904";
}
.icon-data_camera:before {
  content: "\e905";
}
.icon-data_metric:before {
  content: "\e91a";
}
.icon-data_event:before {
  content: "\e91b";
}
.icon-pedestrian:before {
  content: "\e90b";
}
.icon-car:before {
  content: "\e916";
}
.icon-bus:before {
  content: "\e918";
}
.icon-bike:before {
  content: "\e914";
}
