@import '~monochrome-ui/dist/main.css';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
#container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
#map-view {
  flex: 1 0 auto;
  position: relative;
}
#timeline {
  flex: 0 0 103px;
  position: relative;
}
#control-panel {
  position: fixed;
  width: 320px;
  margin-top: 20px;
  padding: 12px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);

  hr {
    margin: 20px 0;
    border: none;
    border-top: solid 1px #ccc;
  }

  .mc-metric-chart {
    height: 160px !important;
  }
}
