#control-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 320px;
  top: 40px;
  bottom: 40px;
  background: rgba($background, 0.95);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  color: #F8F8F9;

  header, footer {
    flex: 0 0 auto;
    background: $background-alt;
    padding: $spacing-tiny $spacing-normal;
    text-align: center;
  }
  header {
    padding-bottom: 0;

    .btn {
      padding: $spacing-small $spacing-normal;
      margin: -$spacing-tiny 0;
    }
  }
  main {
    flex: 1 1 auto;
    padding: $spacing-normal;
    overflow-y: auto;
  }
  footer {
    font-size: 9px;
    text-align: right;
  }
  h4 {
    margin-bottom: 0;
  }
}
