#hud {
  display: flex;
  background: $background;
  opacity: 0.9;
  box-sizing: border-box;
  padding: 12px 8px;

  .hud-column {
    width: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .autonomy-state {
    font-size: 12px;
    width: 92px;
    text-align: center;
    text-transform: capitalize;
    padding: 4px 0;
  }
}
