#hud {
  display: flex;

  .hud-column {
    width: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .autonomy-state {
    width: 92px;
    text-align: center;
    text-transform: capitalize;
    padding: 4px 0;
  }
}
