.btn {
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  padding: $spacing-tiny;
  margin: $spacing-tiny $spacing-normal;
  color: $color-control-inactive;

  &:hover {
    color: $color-control-hover;
  }

  &.active {
    background: $background;
    color: $color-control-active;
  }

  .material-icons {
    font-size: 2em;
  }
}

.menu {
  padding: $spacing-tiny 0;

  .menu--item {
    cursor: pointer;
    padding: $spacing-tiny $spacing-normal;
    background: transparent;
    color: $color-control-inactive;
    font-size: 12px;

    &:hover {
      background: $color-control-active;
      color: $color-text-primary;
    }
  }
}