.menu {
  padding: $spacing-tiny 0;

  .menu--item {
    cursor: pointer;
    padding: $spacing-tiny $spacing-normal;
    background: transparent;
    color: $color-control-inactive;
    font-size: 12px;

    &:hover {
      background: $color-control-active;
      color: $color-text-primary;
    }
  }
}
