#toolbar {
  background: $background-alt;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  .active {
    background: $color-control-active !important;
    color: $color-text-primary !important;
  }
}
