#toolbar {
  background: $background-alt;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;

  .active {
    background: $color-control-active !important;
    color: $color-text-primary !important;
  }
  .selected {
    .path1:before {
      color: $color-control-active !important;
    }
    .path2:before {
      color: #fff !important;
    }
  }
  .menu {
    width: 168px;
    display: flex;
  }

}
