@import 'theme';

body {
  user-select: none;
  background: #000;
  font-family: $font-family;
  font-size: 12px;
  line-height: 24px;
}

#container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
#control-panel {
  flex: 0 0 auto;
  width: 348px;
  border-right: solid 1px #000;
  padding-bottom: 146px;
}
#map {
  flex-grow: 1;
  position: relative;
}
#timeline {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#hud {
  position: fixed;
  left: 4px;
  bottom: 12px;
  height: 122px;
}

@import 'control-panel';
@import 'toolbar';
@import 'hud';
