@import 'theme';

body {
  user-select: none;
  background: $background;
  font-family: $font-family;
  font-size: 12px;
  line-height: 24px;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
#timeline {
  position: fixed;
  left: 320px;
  right: 0;
  bottom: 0;
}

@import 'inputs';
@import 'control-panel';
@import 'toolbar';
