@import 'fontface';

$primary: #00ADE6;
$secondary: #05E3D5;
$black: #041725;
$black-20: #213746;
$black-40: #5A666D;
$white: #EDEDED;
$white-40: #8D9BA3;
$topbar-height: 64px;

body {
  font-family: "UberMove", "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 14px;
  line-height: 1.833;
  overflow-y: auto;
}

p, li, td, th {
  font-family: "UberMoveText";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
a, a:visited {
  color: $primary;
}

.container {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  overflow: hidden;
}

.flexbox--row {
  display: flex;
  flex-direction: row;
  height: 100%;

  .flexbox-item {
    position: relative;
    flex: 0 1 auto;
    height: 100%;
  }
  .flexbox-item--fill {
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}

@import 'header';
@import 'gallery';
@import 'markdown';
