@font-face {
  font-family: 'streetscape';
  src:  url('fonts/streetscape.eot?xn7flp');
  src:  url('fonts/streetscape.eot?xn7flp#iefix') format('embedded-opentype'),
    url('fonts/streetscape.ttf?xn7flp') format('truetype'),
    url('fonts/streetscape.woff?xn7flp') format('woff'),
    url('fonts/streetscape.svg?xn7flp#streetscape') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'streetscape' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cursor:before {
  content: "\e908";
}
.icon-recenter:before {
  content: "\e915";
}
.icon-camera:before {
  content: "\e906";
}
.icon-object:before {
  content: "\e909";
}
.icon-bike:before {
  content: "\e914";
}
.icon-eye_off:before {
  content: "\e900";
}
.icon-camera_alt:before {
  content: "\e910";
}
.icon-streams:before {
  content: "\e912";
}
.icon-text:before {
  content: "\e90d";
}
.icon-variable:before {
  content: "\e90e";
}
.icon-map:before {
  content: "\e90f";
}
.icon-info:before {
  content: "\e911";
}
.icon-polygon:before {
  content: "\e907";
}
.icon-points:before {
  content: "\e90a";
}
.icon-polyline:before {
  content: "\e90c";
}
.icon-github:before {
  content: "\e920";
}
.icon-data_icon_lidar:before {
  content: "\e901";
}
.icon-data_icon_map:before {
  content: "\e902";
}
.icon-data_icon_ML:before {
  content: "\e903";
}
.icon-data_icon_radar:before {
  content: "\e904";
}
.icon-data_icon_videocamera:before {
  content: "\e905";
}
.icon-pedestrian:before {
  content: "\e90b";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-circle:before {
  content: "\e91a";
}
.icon-content:before {
  content: "\e913";
}
.icon-car:before {
  content: "\e916";
}
